/* fonts */

p {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

li {
  font-family: "Nunito", sans-serif;
}

ul {
  font-family: "Nunito", sans-serif;
}

a {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0px;
}

* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.oneToTwo {
  background: linear-gradient(to bottom, #ffffff, #e7d8c3) !important;
}

.threeToFour {
  background: linear-gradient(to top, #caddc1, #d2e9c7);
}

/* credits/links*/

a {
  color: #ec41d6;
}

a:hover {
  color: #15ff00;
}

a:active {
  color: #000000;
}

/* headers */

#blue > h1:nth-of-type(1) {
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 10px -5px #4a97aa;
}

#orange > h1:nth-of-type(1),
#orange > h1:nth-of-type(2) {
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 23px 10px;
  border-radius: 10px;
  box-shadow: 10px -5px #e5b986;
}

#green > h1:nth-of-type(1),
#green > h1:nth-of-type(2) {
  min-width: 500px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: 10px -5px #265222;
}

/* paragraphs */

#blue > p:nth-of-type(1) {
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  background: #ffffff;
  padding: 50px 80px;
  border-radius: 20px;
  box-shadow: 15px -10px #94d1e0;
}

#orange > p:nth-of-type(1),
#orange > p:nth-of-type(2) {
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 15px -5px #eed3a0;
}

#orange > .list {
  min-width: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

#green > p:nth-of-type(1),
#green > p:nth-of-type(2) {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  font-size: 17px;
  padding: 50px 50px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 15px -5px #3c6338;
}

/* first video */

.videoOne {
  border: 21px solid #95c3ff;
  border-radius: 10px;
  width: 70%;
  min-height: 500px;
  max-height: 500px;
  background-color: #a1b6d1;
  margin: 0 auto;
  display: block;
}

/* img */

.center {
  max-width: 100%;
  max-height: 100%;
}

.side {
  position: absolute;
  right: 6%;
  top: 3780px;
  height: 400px;
  border-radius: 10px;
  border: solid, black, 100px;
  overflow: auto;
}

/* container */

.container {
  max-width: 97%;
  margin: 0 auto;
  background: #4c8d96;
  padding: 50px;
  border-bottom: 6.5px solid #ffffff !important;
  font-size: 20px;
}
